<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dados Pessoais
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngFor="let user of users">
        <ion-item-sliding>
              <ion-item>
                    <h1 *ngIf="nomes">{{user.nome}}</h1>
                    <p>{{user.nome}}</p>
                    <p>{{user.email}}</p>
              </ion-item>
              <ion-item-options side="right">
                    <button ion-button color="danger" (click)="deletarPerfil(user)">
                          Deletar
                    </button>
              </ion-item-options>
              <ion-item-options side="left">
                    <button ion-button color="secondary" (click)="editarPerfil(user)">
                          Editar
                    </button>
              </ion-item-options>
        </ion-item-sliding>
  </ion-list>

</ion-content>
